.body-content { padding-top: 120px; }

@media screen and (max-width: 768px) {
    .body-content
     { padding-top: 120px; }
}

.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.apa-reference {
    padding-left: 36px;
    text-indent: -36px;
}